/*----------------- UNIVERSAL ELEMENTS ----------------- */
* {
  font-size: 16px;
  margin: 0;
  padding: 0; }

html,
body {
  background-color: #FCF9F7;
  height: 100%;
  font-family: 'Roboto', sans-serif; }

body {
  overflow-x: hidden; }

h1 {
  color: #16425B;
  font-size: 7.53rem;
  line-height: 120px; }

h2 {
  font-size: 5.378rem; }

h3 {
  color: #FCF9F7;
  font-size: 3.842rem;
  text-transform: uppercase; }

h4 {
  color: #16425B;
  font-size: 2.744rem;
  text-transform: uppercase; }

h5 {
  color: #85A5D6;
  font-size: 1.96rem; }

h6 {
  color: #16425B;
  font-size: 1.4rem; }

p {
  color: #373D3F;
  font-family: 'Roboto', sans-serif; }

.bold {
  font-size: inherit;
  font-weight: bold; }

.blue {
  color: #85A5D6; }

.top-padding, .main-intro-area {
  padding-top: 10vh; }

.remove-bottom-margin {
  margin-bottom: -10vh; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: 'Mina', sans-serif; }

/*----------------- NAVIGATION -------------------------- */
.nav-area,
.nav-links {
  display: flex;
  flex-wrap: wrap; }
  .nav-area .mobile-menu,
  .nav-links .mobile-menu {
    display: none;
    position: absolute;
    top: 5vh;
    left: 85vw;
    color: #85A5D6;
    font-size: 30px; }
  .nav-area .logo,
  .nav-links .logo {
    width: 140px;
    margin: 3vh 0 0 0;
    padding: 0 0 0 5vw; }
  .nav-area .dropdown,
  .nav-area .nav-item,
  .nav-links .dropdown,
  .nav-links .nav-item {
    margin: 5vh 0 0 0; }
  .nav-area .nav-item,
  .nav-area .nav-subitem,
  .nav-links .nav-item,
  .nav-links .nav-subitem {
    position: relative;
    color: #85A5D6;
    font-size: 1.4rem;
    font-family: 'Mina', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 10px 0 10px;
    transition: 0.5s;
    transition-timing-function: ease; }
  .nav-area .nav-item:hover:not(.donate-link),
  .nav-area .nav-subitem:hover,
  .nav-links .nav-item:hover:not(.donate-link),
  .nav-links .nav-subitem:hover {
    color: #66C8CA;
    border-bottom: 1px solid #66C8CA;
    padding-bottom: 8px;
    transition: 0.5s;
    transition-timing-function: ease; }
  .nav-area .active,
  .nav-links .active {
    color: #66C8CA;
    border-bottom: 1px solid #66C8CA; }
  .nav-area .drop-btn,
  .nav-links .drop-btn {
    background: none;
    border: none;
    padding: 10px; }
  .nav-area .dropdown-content,
  .nav-links .dropdown-content {
    display: none;
    position: absolute;
    margin: 0 0 0 15px;
    background-color: #F6F1EF; }
    .nav-area .dropdown-content .nav-subitem,
    .nav-links .dropdown-content .nav-subitem {
      display: block;
      text-align: left; }
  .nav-area .dropdown:hover .dropdown-content,
  .nav-links .dropdown:hover .dropdown-content {
    display: block;
    position: absolute; }
  .nav-area .donate-btn,
  .nav-links .donate-btn {
    margin: 4.7vh 0 0 2vw;
    color: #66C8CA;
    height: 55px;
    font-size: 1.4rem;
    font-family: 'Mina', sans-serif;
    text-transform: uppercase;
    padding: 5px 30px 0 30px;
    background: #FCF9F7;
    border: 2px solid #66C8CA;
    cursor: pointer;
    transition: 0.5s;
    transition-timing-function: ease;
    -webkit-border-radius: 73px;
    -moz-border-radius: 73px;
    border-radius: 73px; }
    .nav-area .donate-btn a,
    .nav-links .donate-btn a {
      color: #66C8CA;
      font-size: 1.4rem;
      text-decoration: none; }
  .nav-area .donate-btn:hover,
  .nav-links .donate-btn:hover {
    color: #FCF9F7;
    background: #66C8CA;
    transition: 0.5s;
    transition-timing-function: ease; }

.nav-links {
  margin: 0 0 0 43vw; }

.main-container {
  display: flex;
  height: 75vh;
  flex-direction: row; }

.section-header {
  text-align: center;
  padding: 5vh 0 5vh 0; }

.intro-area {
  padding: 10vh 0 0 0; }

.left-img-section-layout {
  margin: 0 10vw 0 0; }
  .left-img-section-layout .left-img-area {
    width: 50%; }
    .left-img-section-layout .left-img-area img {
      width: 33vw;
      margin: 0 0 0 10vw;
      -webkit-border-radius: 73px;
      -moz-border-radius: 73px;
      border-radius: 73px; }
  .left-img-section-layout .right-text-area {
    width: 50%;
    margin: 0 0 0 5vw; }
    .left-img-section-layout .right-text-area h5 {
      margin: 0 0 3vh 0; }
    .left-img-section-layout .right-text-area .intro-header {
      margin: 2vh 0 3vh 0; }

.img-subtitle {
  color: #848687;
  font-size: 14px;
  font-style: italic;
  text-align: center;
  margin: 2vh 0 0 10vw; }

.section-content {
  display: flex;
  padding: 0 0 10vh 0; }

.right-img-section-layout {
  background-color: #F6F1EF;
  width: 100%;
  margin: 10vh 15vw 0 0; }
  .right-img-section-layout .right-img-area {
    width: 50%; }
    .right-img-section-layout .right-img-area img {
      width: 33vw;
      margin: 5vw 10vw 0 0;
      -webkit-border-radius: 73px;
      -moz-border-radius: 73px;
      border-radius: 73px; }
  .right-img-section-layout .left-text-area {
    width: 50%;
    margin: 0 5vw 0 10vw; }
    .right-img-section-layout .left-text-area h5 {
      margin: 2vh 0 3vh 0; }

.primary-btn {
  margin: 30px 0 0 -5px;
  color: #FCF9F7;
  height: 55px;
  font-size: 1.4rem;
  font-family: 'Mina', sans-serif;
  text-transform: uppercase;
  padding: 5px 30px 0 30px;
  background: #66C8CA;
  border: 2px solid #FCF9F7;
  cursor: pointer;
  transition: 0.5s;
  transition-timing-function: ease;
  -webkit-border-radius: 73px;
  -moz-border-radius: 73px;
  border-radius: 73px; }
  .primary-btn a {
    color: #FCF9F7;
    font-size: 1.4rem;
    text-decoration: none; }

.primary-btn:hover {
  background: #389799;
  transition: 0.5s;
  transition-timing-function: ease; }

.more-arrow {
  padding: 0 0 0 10px; }

.secondary-btn {
  color: #66C8CA;
  height: 55px;
  font-size: 1.4rem;
  font-family: 'Mina', sans-serif;
  text-transform: uppercase;
  padding: 5px 30px 0 30px;
  background: #FCF9F7;
  border: 2px solid #66C8CA;
  cursor: pointer;
  transition: 0.5s;
  transition-timing-function: ease;
  -webkit-border-radius: 73px;
  -moz-border-radius: 73px;
  border-radius: 73px; }
  .secondary-btn a {
    color: #66C8CA;
    font-size: 1.4rem;
    text-decoration: none; }

.secondary-btn:hover {
  color: #FCF9F7;
  background: #66C8CA;
  transition: 0.5s;
  transition-timing-function: ease; }

.hero-img-area {
  display: flex;
  height: 100%;
  width: 50%; }
  .hero-img-area .sealion-hero-img {
    padding: 7vh 0 0 10vw; }

.main-intro-area {
  height: 100%;
  width: 50%; }
  .main-intro-area .main-header {
    padding: 7vh 10vw 0 0; }
  .main-intro-area .main-subheader {
    padding: 2vh 10vw 0 0; }

.page-banner {
  height: 28vh;
  width: 100vw;
  background-color: #85A5D6;
  text-align: center;
  margin: 3vh 0 0 0;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%; }
  .page-banner .banner-header {
    padding: 6vh 0 0 0; }
  .page-banner .banner-subheader {
    color: #FCF9F7; }

.board-members-area {
  background-color: #F6F1EF;
  margin: 10vh 0 0 0; }

.member-card, .donate-card {
  background-color: #85A5D6;
  height: 33vh;
  margin: 0 5vw 7vh 5vw;
  padding: 0 10px 30px 10px;
  -webkit-border-radius: 73px;
  -moz-border-radius: 73px;
  border-radius: 73px; }

.card-area {
  display: flex;
  justify-content: center;
  align-items: center; }

.card-header,
.card-subheader,
.donate-card .card-header {
  color: #FCF9F7;
  text-align: center; }

.card-header {
  padding: 15px 0 0 0; }

.card-subheader, .donate-card .card-header {
  padding: 0 0 15px 0;
  border-bottom: 2px solid #FCF9F7; }

.card-info {
  color: #FCF9F7;
  padding: 15px 15px 0 15px; }

.slick-prev:before,
.slick-next:before {
  color: #66C8CA; }

.slick-prev {
  padding: 0 0 0 50px; }

.slick-next {
  padding: 0 50px 0 0; }

.donate-card-area {
  padding: 9vh 0 0 0; }

.donate-card {
  height: auto;
  width: 37vh;
  opacity: .6;
  cursor: pointer;
  transition: 0.5s;
  transition-timing-function: ease; }
  .donate-card .card-header {
    padding: 1vh 0 0 0; }
  .donate-card .card-info {
    padding: 0 0 5vh 0; }
  .donate-card img {
    width: 105%;
    margin: 0 0 0 -4%;
    border: 5px solid #FCF9F7;
    -webkit-border-radius: 73px;
    -moz-border-radius: 73px;
    border-radius: 73px; }

.donate-card:hover {
  opacity: 1;
  transition: 0.5s;
  transition-timing-function: ease; }
  .donate-card:hover .action-btn {
    background: #66C8CA;
    transition: 0.5s;
    transition-timing-function: ease; }
    .donate-card:hover .action-btn .donate-arrow {
      color: #FCF9F7;
      transition: 0.5s;
      transition-timing-function: ease; }

.action-btn {
  position: absolute;
  top: 100%;
  height: 80px;
  width: 80px;
  background: #FCF9F7;
  margin: 0 0 0 15%;
  border: 3px solid #FCF9F7;
  box-shadow: inset 0 0 0 3px #66C8CA;
  -webkit-border-radius: 73px;
  -moz-border-radius: 73px;
  border-radius: 73px;
  transition: 0.5s;
  transition-timing-function: ease; }
  .action-btn .donate-arrow {
    color: #66C8CA;
    font-size: 20px;
    padding: 0 0 0 3px;
    transition: 0.5s;
    transition-timing-function: ease; }

.footer {
  display: flex;
  color: #373D3F;
  height: 10vh;
  width: 100vw;
  padding: 5vh 0 0 0; }
  .footer .social-media-area {
    padding: 0 0 0 3vw; }
  .footer .social-media-area a {
    font-size: 40px;
    text-decoration: none;
    padding: 0 0 0 2vw; }
    .footer .social-media-area a .social-icon {
      position: relative;
      top: 30px;
      color: #85A5D6;
      padding: 0;
      cursor: pointer;
      transition: 0.5s;
      transition-timing-function: ease; }
    .footer .social-media-area a .social-icon:hover {
      color: #66C8CA;
      transition: 0.5s;
      transition-timing-function: ease; }
  .footer .email-area {
    position: relative;
    right: -67vw;
    top: 35px; }
  .footer .po-box-area {
    position: relative;
    right: -79vw;
    top: -40px; }

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .nav-links {
    margin: 0 0 0 20vw; }

  .hero-img-area .sealion-hero-img {
    padding: 5vh 0 0 7vw; }

  .donate-card {
    width: 50vw; }
    .donate-card img {
      width: 105%;
      margin: 0 0 0 -5%; }

  .action-btn {
    position: absolute;
    top: 0%;
    margin: 64% 0 0 15%; }

  .email-area {
    position: relative;
    left: 55vw;
    top: 35px; }

  .po-box-area {
    position: relative;
    left: 72vw;
    top: -40px; } }
@media only screen and (max-width: 600px) {
  .nav-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }

  .nav-item,
  .nav-subitem,
  .dropdown,
  .drop-btn,
  .donate-btn {
    display: none; }

  .nav-area .mobile-menu, .nav-links .mobile-menu {
    display: block; }
  .nav-area .logo, .nav-links .logo {
    width: 110px;
    margin: 3vh 0 0 -20vw;
    padding: 0; }

  .main-container {
    display: block; }

  .hero-img-area {
    height: 70%;
    width: 80%;
    justify-content: center;
    align-items: center; }
    .hero-img-area .sealion-hero-img {
      width: 100%;
      padding: 0 0 0 100px; }

  .main-intro-area {
    width: 100%;
    text-align: center;
    padding: 0; }
    .main-intro-area .main-header {
      padding: 0 10px 0 10px; }
    .main-intro-area .main-subheader {
      padding: 10px 20px 0 20px; }

  .left-img-section-layout .left-img-area img {
    width: 80vw;
    margin: 0 10vw 0 10vw; }
  .left-img-section-layout .right-text-area {
    width: 80vw;
    text-align: center;
    margin: 0 0 0 7vw; }
    .left-img-section-layout .right-text-area p {
      text-align: left; }
    .left-img-section-layout .right-text-area .primary-btn {
      margin: 3vh 0 2vh 0; }

  .section-content {
    flex-direction: column;
    padding: 0 0 5vh 0; }

  .right-img-section-layout .right-img-area {
    width: 100%; }
    .right-img-section-layout .right-img-area img {
      width: 80vw;
      margin: 0 10vw 0 10vw; }
  .right-img-section-layout .left-text-area {
    width: 80vw;
    margin: 0 0 0 10vw;
    padding: 0 0 7vh 0; }
    .right-img-section-layout .left-text-area h5 {
      text-align: center;
      padding: 5vh 0 0 0; }

  .page-banner .banner-header {
    line-height: 65px; }

  .img-subtitle {
    width: 100vw;
    text-align: center;
    margin: 1vh 0 3vh 0; }

  .donate-card-area {
    flex-direction: column; }
    .donate-card-area .card-info {
      padding: 3vh 0 3vh 0; }
    .donate-card-area .action-btn {
      position: relative;
      left: 70%; }

  .footer {
    display: block; }
    .footer .social-media-area a {
      padding: 0; }
      .footer .social-media-area a .social-icon {
        top: 36vh;
        left: 3vw;
        padding: 0 20px 0 0; }
    .footer .email-area {
      text-align: left;
      left: 6vw;
      top: 38vh; }
    .footer .po-box-area {
      text-align: left;
      left: 60vw;
      top: 29vh; }

  .media-query-margin-fix {
    margin: -30vh 0 0 0; }

  .index-margin-fix {
    margin: 18vh 0 0 0; } }

/*# sourceMappingURL=custom.css.map */
