h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: 'Mina', sans-serif; }

/*----------------- UNIVERSAL ELEMENTS ----------------- */
* {
  font-size: 16px;
  margin: 0;
  padding: 0; }

html,
body {
  background-color: #FCF9F7;
  height: 100%;
  font-family: 'Roboto', sans-serif; }

h1 {
  color: #16425B;
  font-size: 7.53rem;
  line-height: 120px; }

h2 {
  font-size: 5.378rem; }

h3 {
  color: #FCF9F7;
  font-size: 3.842rem;
  text-transform: uppercase; }

h4 {
  color: #16425B;
  font-size: 2.744rem;
  text-transform: uppercase; }

h5 {
  color: #85A5D6;
  font-size: 1.96rem; }

h6 {
  color: #16425B;
  font-size: 1.4rem; }

p {
  color: #373D3F;
  font-family: 'Roboto', sans-serif; }

.bold {
  font-weight: 700; }

.blue {
  color: #85A5D6; }

/*----------------- NAVIGATION -------------------------- */
.nav-area,
.nav-links {
  display: flex;
  flex-wrap: wrap; }
  .nav-area .mobile-menu,
  .nav-links .mobile-menu {
    display: none;
    position: absolute;
    top: 5vh;
    left: 90vw;
    color: #16425B;
    font-size: 30px; }
  .nav-area .logo,
  .nav-links .logo {
    width: 140px;
    margin-top: 3vh;
    padding-left: 5vw; }
  .nav-area .dropdown,
  .nav-area .nav-item,
  .nav-area .donate-btn,
  .nav-links .dropdown,
  .nav-links .nav-item,
  .nav-links .donate-btn {
    margin-top: 5vh; }
  .nav-area .nav-item, .nav-area .donate-btn,
  .nav-area .nav-subitem,
  .nav-links .nav-item,
  .nav-links .donate-btn,
  .nav-links .nav-subitem {
    position: relative;
    color: #85A5D6;
    font-size: 1.4rem;
    font-family: 'Mina', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 10px 0 10px;
    transition: 0.5s;
    transition-timing-function: ease; }
  .nav-area .nav-item:hover:not(.donate-btn), .nav-area .donate-btn:hover:not(.donate-btn),
  .nav-area .nav-subitem:hover,
  .nav-links .nav-item:hover:not(.donate-btn),
  .nav-links .donate-btn:hover:not(.donate-btn),
  .nav-links .nav-subitem:hover {
    color: #66C8CA;
    border-bottom: 1px solid #66C8CA;
    padding-bottom: 8px;
    transition: 0.5s;
    transition-timing-function: ease; }
  .nav-area .drop-btn,
  .nav-links .drop-btn {
    background: none;
    border: none;
    padding: 10px; }
  .nav-area .dropdown-content,
  .nav-links .dropdown-content {
    display: none;
    position: absolute;
    margin-left: 15px;
    background-color: #F6F1EF; }
    .nav-area .dropdown-content .nav-subitem,
    .nav-links .dropdown-content .nav-subitem {
      display: block;
      text-align: left; }
  .nav-area .dropdown:hover .dropdown-content,
  .nav-links .dropdown:hover .dropdown-content {
    display: block;
    position: absolute; }
  .nav-area .donate-btn,
  .nav-links .donate-btn {
    margin: 4.7vh 0 0 2vw;
    color: #66C8CA;
    height: 55px;
    font-size: 1.4rem;
    font-family: 'Mina', sans-serif;
    text-transform: uppercase;
    padding: 5px 30px 0 30px;
    background: #FCF9F7;
    border: 2px solid #66C8CA;
    cursor: pointer;
    transition: 0.5s;
    transition-timing-function: ease;
    -webkit-border-radius: 73px;
    -moz-border-radius: 73px;
    border-radius: 73px; }
  .nav-area .donate-btn:hover,
  .nav-links .donate-btn:hover {
    color: #FCF9F7;
    background: #66C8CA;
    transition: 0.5s;
    transition-timing-function: ease; }

.nav-links {
  margin-left: 20%; }

.main-container {
  display: flex;
  height: 75vh;
  flex-direction: row; }

.hero-img-area {
  display: flex;
  height: 100%;
  width: 50%; }
  .hero-img-area .sealion-hero-img {
    width: 80%;
    padding: 5vh 0 0 7vw; }

.main-intro-area {
  height: 100%;
  width: 50%; }
  .main-intro-area .main-header {
    padding: 7vh 10vw 0 0; }
  .main-intro-area .main-subheader {
    padding: 2vh 10vw 0 0; }

.primary-btn {
  margin: 30px 0 0 -5px;
  color: #FCF9F7;
  height: 55px;
  font-size: 1.4rem;
  font-family: 'Mina', sans-serif;
  text-transform: uppercase;
  padding: 5px 30px 0 30px;
  background: #66C8CA;
  border: 2px solid #FCF9F7;
  cursor: pointer;
  transition: 0.5s;
  transition-timing-function: ease;
  -webkit-border-radius: 73px;
  -moz-border-radius: 73px;
  border-radius: 73px; }

.primary-btn:hover {
  background: #389799;
  transition: 0.5s;
  transition-timing-function: ease; }

.more-arrow {
  padding-left: 10px; }

.page-banner {
  height: 28vh;
  width: 100vw;
  background-color: #85A5D6;
  text-align: center;
  margin: 3vh 0 0 0;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%; }
  .page-banner .banner-header {
    padding-top: 6vh; }
  .page-banner .banner-subheader {
    color: #FCF9F7; }

.intro-area {
  padding-top: 10vh; }

.left-img-section-layout {
  margin: 0 10vw 0 0; }
  .left-img-section-layout .left-img-area {
    width: 50%; }
    .left-img-section-layout .left-img-area img {
      width: 33vw;
      margin: 0 0 0 10vw;
      -webkit-border-radius: 73px;
      -moz-border-radius: 73px;
      border-radius: 73px; }
  .left-img-section-layout .right-text-area {
    width: 50%;
    margin: 0 0 0 5vw; }
    .left-img-section-layout .right-text-area h5 {
      margin: 0 0 3vh 0; }
    .left-img-section-layout .right-text-area .intro-header {
      margin: 2vh 0 3vh 0; }

.img-subtitle {
  color: #848687;
  font-size: 14px;
  font-style: italic;
  text-align: center;
  margin: 2vh 0 0 10vw; }

.secondary-btn {
  color: #66C8CA;
  height: 55px;
  font-size: 1.4rem;
  font-family: 'Mina', sans-serif;
  text-transform: uppercase;
  padding: 5px 30px 0 30px;
  background: #FCF9F7;
  border: 2px solid #66C8CA;
  cursor: pointer;
  transition: 0.5s;
  transition-timing-function: ease;
  -webkit-border-radius: 73px;
  -moz-border-radius: 73px;
  border-radius: 73px; }

.secondary-btn:hover {
  color: #FCF9F7;
  background: #66C8CA;
  transition: 0.5s;
  transition-timing-function: ease; }

.board-members-area {
  background-color: #F6F1EF;
  margin: 10vh 0 0 0; }
  .board-members-area .member-card {
    background-color: #85A5D6;
    margin: 5vh 5vw 7vh 5vw;
    padding: 0 10px 30px 10px;
    -webkit-border-radius: 73px;
    -moz-border-radius: 73px;
    border-radius: 73px; }
  .board-members-area .card-area {
    display: flex;
    justify-content: center;
    align-items: center; }
  .board-members-area .card-header,
  .board-members-area .card-subheader {
    color: #FCF9F7;
    text-align: center; }
  .board-members-area .card-header {
    padding: 15px 0 0 0; }
  .board-members-area .card-subheader {
    padding: 0 0 15px 0;
    border-bottom: 2px solid #FCF9F7; }
  .board-members-area .card-info {
    color: #FCF9F7;
    padding: 15px 15px 0 15px; }

.section-header {
  text-align: center;
  padding: 5vh 0 5vh 0; }

.section-content {
  display: flex;
  padding-bottom: 10vh; }

.right-img-section-layout {
  background-color: #F6F1EF;
  width: 100%;
  margin: 10vh 15vw 0 0; }
  .right-img-section-layout .right-img-area {
    width: 50%; }
    .right-img-section-layout .right-img-area img {
      width: 33vw;
      margin: 5vw 10vw 0 0;
      -webkit-border-radius: 73px;
      -moz-border-radius: 73px;
      border-radius: 73px; }
  .right-img-section-layout .left-text-area {
    width: 50%;
    margin: 0 5vw 0 10vw; }
    .right-img-section-layout .left-text-area h5 {
      margin: 2vh 0 3vh 0; }

.footer {
  display: flex;
  color: #373D3F;
  height: 10vh;
  width: 100vw;
  padding: 5vh 0 0 0; }
  .footer .social-media-area {
    font-size: 40px;
    padding: 0 0 0 3vw; }
    .footer .social-media-area .social-icon {
      position: relative;
      top: 30px;
      color: #85A5D6;
      padding: 0 0 0 30px;
      cursor: pointer;
      transition: 0.5s;
      transition-timing-function: ease; }
    .footer .social-media-area .social-icon:hover {
      color: #66C8CA;
      transition: 0.5s;
      transition-timing-function: ease; }
  .footer .email-area {
    position: relative;
    left: 54vw;
    top: 35px; }
  .footer .po-box-area {
    position: relative;
    left: 70vw;
    top: -40px; }

@media only screen and (max-width: 600px) {
  .nav-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }

  .nav-item, .nav-area .donate-btn,
  .nav-links .donate-btn,
  .nav-subitem,
  .dropdown,
  .drop-btn {
    display: none; }

  .mobile-menu {
    display: block; }

  .main-container {
    display: block; }

  .hero-img-area {
    height: 70%;
    width: 80%;
    justify-content: center;
    align-items: center; }
    .hero-img-area .sealion-hero-img {
      width: 100%;
      padding: 0 0 0 100px; }

  .main-intro-area {
    width: 100%;
    text-align: center; }
    .main-intro-area .main-header {
      padding: 0 10px 0 10px; }
    .main-intro-area .main-subheader {
      padding: 10px 20px 0 20px; }

  .footer {
    display: block; }
    .footer .social-media-area {
      padding: 0; }
      .footer .social-media-area .social-icon {
        top: 36vh;
        left: 10vw;
        padding: 0 20px 0 0; }
    .footer .email-area {
      text-align: left;
      left: 10vw;
      top: 38vh; }
    .footer .po-box-area {
      text-align: left;
      left: 60vw;
      top: 30.5vh; } }

/*# sourceMappingURL=custom.css.map */
