// for smaller laptops and desktops between the widths of 1025px and 1280px
@media screen and (min-width: 1025px) and (max-width: 1280px) {

  .nav-links {
    margin-left: 20vw;
  }

  .hero-img-area {

    .sealion-hero-img {
      padding: 5vh 0 0 7vw;
    }

  }

  .email-area {
    position: relative;
    left: 55vw;
    top: 35px;
  }

  .po-box-area {
    position: relative;
    left: 72vw;
    top: -40px;
  }

}


// extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {


  // NAVIGATION ----------------------------------


  .nav-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .nav-item,
  .nav-subitem,
  .dropdown,
  .drop-btn {
    display: none;
  }

  .nav-area, .nav-links {

    .mobile-menu {
      display: block;
    }

  }


  // MAIN CONTAINER------------------------------

  .main-container {
    display: block;
  }

  // HERO IMG AREA-------------------------------

  .hero-img-area {
    height: 70%;
    width: 80%;
    justify-content: center;
    align-items: center;

    .sealion-hero-img {
      width: 100%;
      padding: 0 0 0 100px;
    }
  }
  // hero img area ENDS

  // MAIN INTRO AREA-----------------------------

  .main-intro-area {
    width: 100%;
    text-align: center;
    padding: 0;

    .main-header {
      padding: 0 10px 0 10px;
    }

    .main-subheader {
      padding: 10px 20px 0 20px;
    }
  }

  // ------------- REUSABLE SECTION LAYOUT CODE ------------

  // section with img on left and text on right


  .left-img-section-layout {

    .left-img-area {

      img {
        width: 80vw;
        margin: 0 10vw 0 10vw;
      }
    }
    // left img area ENDS

    .right-text-area {
      width: 80vw;
      text-align: center;
      margin: 0 0 0 7vw;

      p {
        text-align: left;
      }

      .primary-btn {
        margin-bottom: 2vh;
      }

    }
    // right text area ENDS
  }
  // left-img-section-layout area ENDS

  // section with img on right and text on left

  .section-content {
    flex-direction: column;
    padding-bottom: 5vh;
  }

  .right-img-section-layout {

    .right-img-area {
      width: 100%;

      img {
        width: 80vw;
        margin: 0 10vw 0 10vw;
      }
    }
    // img area ENDS

    .left-text-area {
      width: 80vw;
      margin: 0 0 0 10vw;
      padding: 0 0 7vh 0;

      h5 {
        text-align: center;
        padding: 5vh 0 0 0;
      }

    }
    // text area ENDS

  }

  // PAGE BANNERS--------------------------------
  .page-banner {

    .banner-header {
      line-height: 65px;
    }

  }

  // FOOTER -------------------------------------

  .footer {
    display: block;

    .social-media-area a {
      padding: 0;

      .social-icon {
        top: 36vh;
        left: 10vw;
        padding: 0 20px 0 0;
      }
    }
    // social media area ENDS

    .email-area {
      text-align: left;
      left: 10vw;
      top: 38vh;
    }

    .po-box-area {
      text-align: left;
      left: 60vw;
      top: 30.5vh;
    }

  }

}
