// all custom scsss

// importing variables

@import 'vars';


/*----------------- UNIVERSAL ELEMENTS ----------------- */

* {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: $off-white;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}


// header set (h1 to h6 and p)---------------

h1 {
  color: $navy;
  font-size: 7.53rem;
  line-height: 120px;
  @extend %mina-font-default;
}

h2 {
  font-size: 5.378rem;
  @extend %mina-font-default;
}

h3 {
  color: $off-white;
  font-size: 3.842rem;
  text-transform: uppercase;
  @extend %mina-font-default;
}

h4 {
  color: $navy;
  font-size: 2.744rem;
  text-transform: uppercase;
  @extend %mina-font-default;
}

h5 {
  color: $blue;
  font-size: 1.96rem;
  @extend %mina-font-default;
}

h6 {
  color: $navy;
  font-size: 1.4rem;
  @extend %mina-font-default;
}

p {
  color: $off-black;
  font-family: 'Roboto', sans-serif;
}

// short styling classes-----------------

.bold {
  font-size: inherit;
  font-weight: bold;
}

.blue {
  color: $blue;
}

.top-padding {
  padding-top: 10vh;
}

.remove-bottom-margin {
  margin-bottom: -10vh;
}

// ----------------- MIXINS AND EXTENDS -----------------

@mixin border-radius($radius: 73px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($time: .5s) {
  transition: $time;
  transition-timing-function: ease;
}

@mixin button($color: $aqua, $bg-color: $off-white) {
  color: $color;
  height: 55px;
  font-size: 1.4rem;
  font-family: 'Mina', sans-serif;
  text-transform: uppercase;
  padding: 5px 30px 0 30px;
  background: $bg-color;
  border: 2px solid $color;
  cursor: pointer;
  @include transition;

  a {
    color: $color;
    font-size: 1.4rem;
    text-decoration: none;
  }
}

%mina-font-default {
  font-weight: 400;
  font-family: 'Mina', sans-serif;
}

/*----------------- NAVIGATION -------------------------- */

.nav-area,
.nav-links {
  display: flex;
  flex-wrap: wrap;

  .mobile-menu {
    display: none;
    position: absolute;
    top: 5vh;
    left: 85vw;
    color: $blue;
    font-size: 30px;
  }

  .logo {
    width: 140px;
    margin: 3vh 0 0 0;
    padding: 0 0 0 5vw;
  }

  .dropdown,
  .nav-item {
    margin: 5vh 0 0 0;
  }

  .nav-item,
  .nav-subitem {
    position: relative;
    color: $blue;
    font-size: 1.4rem;
    font-family: 'Mina', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 10px 0 10px;
    @include transition;
  }

  .nav-item:hover:not(.donate-link),
  .nav-subitem:hover {
    color: $aqua;
    border-bottom: 1px solid $aqua;
    padding-bottom: 8px;
    @include transition;
  }

  .active {
    color: $aqua;
    border-bottom: 1px solid $aqua;
  }

  .drop-btn {
    background: none;
    border: none;
    padding: 10px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    margin: 0 0 0 15px;
    background-color: $dark-off-white;

    .nav-subitem {
      display: block;
      text-align: left;
    }
  }
  // dropdown-content ENDS

  .dropdown:hover {
    .dropdown-content {
    display: block;
    position: absolute;
    }
  }

  .donate-btn {
    margin: 4.7vh 0 0 2vw;
    @include button;
    @include border-radius;
  }

  .donate-btn:hover {
    color: $off-white;

    background: $aqua;
    @include transition;
  }
}
// nav area ENDS

.nav-links {
  margin: 0 0 0 43vw;
}


// -------------- MAIN CONTAINER -----------------------------

.main-container {
  display: flex;
  height: 75vh;
  flex-direction: row;
}


// ------------- REUSABLE SECTION LAYOUT CODE ------------

// section headers

.section-header {
  text-align: center;
  padding: 5vh 0 5vh 0;
}

// section with img on left and text on right

.intro-area {
  padding: 10vh 0 0 0;
}

.left-img-section-layout {
  margin: 0 10vw 0 0;

  .left-img-area {
    width: 50%;

    img {
      width: 33vw;
      margin: 0 0 0 10vw;
      @include border-radius;
    }
  }
  // left img area ENDS

  .right-text-area {
    width: 50%;
    margin: 0 0 0 5vw;

    h5 {
      margin: 0 0 3vh 0;
    }

    .intro-header {
      margin: 2vh 0 3vh 0;
    }
  }
  // right text area ENDS
}
// left-img-section-layout area ENDS

.img-subtitle {
  color: $grey;
  font-size: 14px;
  font-style: italic;
  text-align: center;
  margin: 2vh 0 0 10vw;
}

// section with img on right and text on left

.section-content {
  display: flex;
  padding: 0 0 10vh 0;
}

.right-img-section-layout {
  background-color: $dark-off-white;
  width: 100%;
  margin: 10vh 15vw 0 0;

  .right-img-area {
    width: 50%;

    img {
      width: 33vw;
      margin: 5vw 10vw 0 0;
      @include border-radius;
    }
  }
  // img area ENDS

  .left-text-area {
    width: 50%;
    margin: 0 5vw 0 10vw;

    h5 {
      margin: 2vh 0 3vh 0;
    }
  }
  // text area ENDS

}

// -------------- REUSABLE BUTTONS -------------

.primary-btn {
  margin: 30px 0 0 -5px;
  @include button($off-white, $aqua);
  @include border-radius;
}

.primary-btn:hover {
  background: $dark-aqua;
  @include transition;
}

.more-arrow {
  padding: 0 0 0 10px;
}

.secondary-btn {
  @include button;
  @include border-radius;
}

.secondary-btn:hover {
  color: $off-white;
  background: $aqua;
  @include transition;
}

// -------------- HERO IMG AREA - index page --------------------

.hero-img-area {
  display: flex;
  height: 100%;
  width: 50%;

  .sealion-hero-img {
    padding: 7vh 0 0 10vw;
  }
}

// --------------- MAIN INTRO AREA - index page ----------------

.main-intro-area {
  height: 100%;
  width: 50%;
  @extend .top-padding;

  .main-header {
    padding: 7vh 10vw 0 0;
  }

  .main-subheader {
    padding: 2vh 10vw 0 0;
  }
}
// main intro area ENDS

// ---------------- PAGE BANNERS -------------------------------

.page-banner {
  height: 28vh;
  width: 100vw;
  background-color: $blue;
  text-align: center;
  margin: 3vh 0 0 0;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;

  .banner-header {
    padding: 6vh 0 0 0;
  }

  .banner-subheader {
    color: $off-white;
  }
}

// ----------------- BOARD MEMBERS AREA - about us page ----------------

.board-members-area {
  background-color: $dark-off-white;
  margin: 10vh 0 0 0;
}

.member-card {
  background-color: $blue;
  // height: 33vh;
  margin: 0 5vw 7vh 5vw;
  padding: 0 10px 30px 10px;
  @include border-radius;
}

.card-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-header,
.card-subheader {
  color: $off-white;
  text-align: center;
}

.card-header {
  padding: 15px 0 0 0;
}

.card-subheader {
  padding: 0 0 15px 0;
  border-bottom: 2px solid $off-white;
}

.card-info {
  color: $off-white;
  padding: 15px 15px 0 15px;
}

// slick slider arrows
.slick-prev:before,
.slick-next:before {
  color: $aqua;
}

.slick-prev {
    padding: 0 0 0 50px;
  }

  .slick-next {
    padding: 0 50px 0 0;
  }

// ---------------- DONATE CARDS - donate page --------------------------

.donate-card-area {
  padding: 9vh 0 0 0;
}

.donate-card {
  height: auto;
  width: 37vh;
  opacity: .6;
  cursor: pointer;
  @extend .member-card;
  @include transition;

  .card-header {
    padding: 1vh 0 0 0;
    @extend .card-subheader;
  }

  .card-info {
    padding: 0 0 5vh 0;
  }

  img {
    width: 105%;
    margin: 0 0 0 -4%;
    border: 5px solid $off-white;
    @include border-radius;
  }
}

.donate-card:hover {
  opacity: 1;
  @include transition;

  .action-btn {
    background: $aqua;
    @include transition;

    .donate-arrow {
      color: $off-white;
      @include transition;
    }
  }
  // action btn ENDS
}

.action-btn {
  position: absolute;
  top: 100%;
  height: 80px;
  width: 80px;
  background: $off-white;
  margin: 0 0 0 15%;
  border: 3px solid $off-white;
  box-shadow: inset 0 0 0 3px $aqua;
  @include border-radius;
  @include transition;

  .donate-arrow {
    color: $aqua;
    font-size: 20px;
    padding: 0 0 0 3px;
    @include transition;
  }
}

// ----------------- FOOTER ------------------------------------

.footer {
  display: flex;
  color: $off-black;
  height: 10vh;
  width: 100vw;
  padding: 5vh 0 0 0;

  .social-media-area {
    padding: 0 0 0 3vw;
  }

  .social-media-area a {
    font-size: 40px;
    text-decoration: none;
    padding: 0 0 0 2vw;

    .social-icon {
      position: relative;
      top: 30px;
      color: $blue;
      padding: 0;
      cursor: pointer;
      @include transition;
    }

    .social-icon:hover {
      color: $aqua;
      @include transition;
    }
  }
  // social media area ENDS

  .email-area {
    position: relative;
    right: -67vw;
    top: 35px;
  }

  .po-box-area {
    position: relative;
    right: -79vw;
    top: -40px;
  }
}
// footer ENDS

// -------------------- ALL MEDIA QUERIES ---------------------

@import 'media-queries';
