// custom scsss

// importing variables

@import 'vars';


// ----------------- MIXINS AND EXTENDS -----------------

@mixin border-radius($radius: 73px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($time: 0.5s) {
  transition: $time;
  transition-timing-function: ease;
}

@mixin button($color: $aqua, $bg-color: $off-white) {
  color: $color;
  height: 55px;
  font-size: 1.4rem;
  font-family: 'Mina', sans-serif;
  text-transform: uppercase;
  padding: 5px 30px 0 30px;
  background: $bg-color;
  border: 2px solid $color;
  cursor: pointer;
  @include transition;
}

// we can use @extend [.class] to include all the attributes of a class
// main diff is extend uses a CLASS! rather than calling a mixin

/*----------------- UNIVERSAL ELEMENTS ----------------- */

* {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: $off-white;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}


// header set (h1 to h6 and p)---------------

h1 {
  color: $navy;
  font-size: 7.53rem;
  font-weight: 400;
  font-family: 'Mina', sans-serif;
  line-height: 120px;
}

h2 {
  font-size: 5.378rem;
  font-family: 'Mina', sans-serif;
}

h3 {
  font-size: 3.842rem;
  font-family: 'Mina', sans-serif;
}

h4 {
  font-size: 2.744rem;
  font-family: 'Mina', sans-serif;
}

h5 {
  color: $blue;
  font-size: 1.96rem;
  font-weight: 400;
  font-family: 'Mina', sans-serif;
}

h6 {
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

/*----------------- NAVIGATION -------------------------- */

.nav-area {
  display: flex;
  flex-wrap: wrap;

  .mobile-menu-area {
    display: none;
  }

  .logo {
    width: 140px;
    margin-top: 3vh;
    padding-left: 60px;
  }

  .dropdown,
  .nav-item {
    margin-top: 5vh;
  }

  .nav-item,
  .nav-subitem {
    position: relative;
    left: 45vw;
    color: $blue;
    font-size: 1.4rem;
    font-family: 'Mina', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 10px 0 10px;
    @include transition;
  }

  .nav-item:hover,
  .nav-subitem:hover {
    color: $aqua;
    border-bottom: 2px solid $aqua;
    @include transition;
  }

  .drop-btn {
    background: none;
    border: none;
    padding: 10px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: $dark-off-white;

    .nav-subitem {
      display: block;
      text-align: left;
    }
  }
  // dropdown-content ENDS

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .donate-btn {
    margin: 4.7vh 0 0 30px;
    @extend .nav-item;
    @include button;
    @include border-radius;
  }

  .donate-btn:hover {
    color: $off-white;
    background: $aqua;
    @include transition;
  }

}
// nav area ENDS

// -------------- MAIN CONTAINER -----------------------------

.container {
  display: flex;
  height: 75vh;
  flex-direction: row;
}

// -------------- HERO IMG AREA------------------------------

.hero-img-area {
  display: flex;
  height: 100%;
  width: 50%;

  .sealion-hero-img {
    width: 80%;
    padding: 50px 0 0 150px;
  }
}

// --------------- MAIN INTRO AREA -----------------------------

.main-intro-area {
  height: 100%;
  width: 50%;

  .main-header {
    padding: 100px 150px 0 0;
  }

  .main-subheader {
    padding: 10px 300px 0 0;
  }

  .learn-btn {
    margin: 30px 0 0 -5px;
    @include button($off-white, $aqua);
    @include border-radius;

    .more-arrow {
      padding-left: 10px;
    }

  }
  // learn button ENDS

  .learn-btn:hover {
    background: $dark-aqua;
    @include transition;
  }

}
// main intro area ENDS


// ----------------- FOOTER ------------------------------------

.footer {
  display: flex;
  color: $off-black;
  height: 10vh;
  width: 100%;

  .social-media-area {
    color: $blue;
    font-size: 40px;
    padding: 0 0 0 60px;

    .social-icon {
      position: relative;
      top: 30px;
      padding: 0 0 0 30px;
      cursor: pointer;
      @include transition;
    }

    .social-icon:hover {
      color: $aqua;
      @include transition;
    }

  }
  // social media area ENDS

  .email-area {
    position: relative;
    left: 65vw;
    top: 35px;
  }

  .po-box-area {
    position: relative;
    left: 78vw;
    top: -40px;
  }

}
// footer ENDS

// -------------------- ALL MEDIA QUERIES ---------------------

@import 'media-queries';
