@import 'vars';


// ----------------- MIXINS AND EXTENDS -----------------

@mixin border-radius($radius: 73px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($time: 0.5s) {
  transition: $time;
  transition-timing-function: ease;
}

@mixin button($color: $aqua, $bg-color: $off-white) {
  color: $color;
  height: 55px;
  font-size: 1.4rem;
  font-family: 'Mina', sans-serif;
  text-transform: uppercase;
  padding: 5px 30px 0 30px;
  background: $bg-color;
  border: 2px solid $color;
  cursor: pointer;
  @include transition;
}

%mina-font-default {
  font-weight: 400;
  font-family: 'Mina', sans-serif;
}


/*----------------- UNIVERSAL ELEMENTS ----------------- */

* {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: $off-white;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}


// header set (h1 to h6 and p)---------------

h1 {
  color: $navy;
  font-size: 7.53rem;
  font-weight: 400;
  font-family: 'Mina', sans-serif;
  line-height: 120px;
}

h2 {
  font-size: 5.378rem;
  font-family: 'Mina', sans-serif;
}

h3 {
  font-size: 3.842rem;
  font-family: 'Mina', sans-serif;
}

h4 {
  font-size: 2.744rem;
  font-family: 'Mina', sans-serif;
}

h5 {
  color: $blue;
  font-size: 1.96rem;
  font-weight: 400;
  font-family: 'Mina', sans-serif;
}

h6 {
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

/*----------------- NAVIGATION -------------------------- */

.nav-area {
  background: #555;
  padding: 0 15px;
}

.nav-item,
.subitem {
  a {
  color: $blue;
  text-decoration: none;
  text-transform: uppercase;
  }
}

.menu,
.submenu {
  list-style-type: none;
}

.logo {
  width: 140px;
  margin-top: 3vh;
  padding-left: 5vw;
}

.nav-item {
  padding: 10px;
}

 .donate-btn {
    // margin: 4.7vh 0 0 2vw;
    @include button;
    @include border-radius;
  }

.donate-btn:hover {
    color: $off-white;
    background: $aqua;
    @include transition;
  }

  .nav-item a:hover,
  .nav-item a:hover::after {
    color: $aqua;
    @include transition;
  }

// nav area ENDS


// mobile menu

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  li a {
    display: block;
    padding: 15px 5px;
  }

  .subitem a {
    padding: 15px;
  }

}

.toggle {
  color: $blue;
  font-size: 30px;
  order: 1;
}

.nav-item {
  order: 2;
}

.nav-button {
  order: 3;
}

.nav-item,
.nav-button {
  display: none;
  width: 100%;
  text-align: center;
}

.nav-active .nav-item,
.submenu-active .submenu {
  display: block;
}

.submenu {
  display: none;
}

.dropdown > a::after {
  font-family: FontAwesome;
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  padding-left: 5px;
}

.subitem a {
  padding: 10px 15px;
}

.submenu-active {
  background-color: $dark-off-white;
  @include border-radius(3px);
}

// desktop menu bc i need this ... T_T

.nav-item {
  display: block;
  position: relative;
  order: 1;
  width: auto;
}

.nav-button {
  order: 2;
}

.toggle {
  display: none;
}

.submenu-active .submenu {
  position: absolute;
}
